run = "python3 -m main"
hidden = [ "__pycache__", ".git", ".venv" ]

[nix]
channel = "unstable"

[languages]

[languages.python]
pattern = "**/{*.py}"

[languages.python.languageServer]
start = "pyright-langserver --stdio"
